@import '../../../assets/base.scss';

.product {
    &__categories {
        // width: 20%;
        position: sticky;
        top: pxToRem(53px);
        margin-right: 0;
        background: $white;
        flex-wrap: wrap;
        z-index: 9;
        padding-right: pxToRem(20px);

        .product{
            &__sort-by-discount,&__sort-by-price{
                font-size: 14px;
                color: #007185;
            }
        }
    }

    &__wishlist {
        .ci-heart, .fa-heart {
            font-size: 20px;
        }
        .ci-heart {
            color: $black;
            &:hover {
                color: $red;
            }
        }
        .fa-heart {
            color: $red;
        }
    }

    &__filtered {
        // width: 80%;
        background: $white;

        .product {
            &__cart{
                border-radius: 100px;
                padding: 0.25rem;
                // background: #FCD200;
                // border: 0.5px solid #37475A;
                border: none;
                // background: #e9cb34;
                background-color: #007185;
                color: #fff;
                width: 150px;
            }

            &__sorts{
                margin-left: 10px !important;
            }

            .product__sort-by-discount,.product__sort-by-price,&__discount,&__popularity{
                font-size: 14px;
            }
           
            &__discount{
                color: red;
            }

            &__desc{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &__brand,&__price{
                font-weight: 600;
            }

            &__product{
                max-width: 100%;

                a{
                    color: black;
                    text-decoration: none;
                }
            }
    
            @media (min-width:768px){
                &__sorts {
                    margin-left: auto !important;
                }
        
                &__product{
                    max-width: calc(33.3% - 1rem);
                }
            }
            @media (min-width: 1024px){
                &__product{
                    max-width: calc(25% - 1rem);
                }
            }
        }
    }
    &__filters {
        padding: pxToRem(8px);
        gap: pxToRem(8px);

        li {
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            padding: pxToRem(6px);
            text-transform: capitalize;
            border-bottom: pxToRem(2px) solid transparent;

            &.active {
                color: $shade-blue;
                border-bottom: pxToRem(2px) solid $shade-blue;
            }
            &:hover {
                color: $shade-blue;
                transition: all .2s ease-in-out;
            }
        }
    }

    &__sorts {
        gap: pxToRem(16px);
        // margin-left: 10px !important;

        span:hover {
            color: $shade-blue;
            transition: all .2s ease-in-out;
            cursor: pointer;
        }
    }

    &__sort-by-price.active,
    &__sort-by-discount.active {
        color: $shade-blue;
        cursor: pointer;
    }

    &__product-list {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 1rem;
    }
    &__product {
        max-width: pxToRem(250px);
        width: 100%;
        // flex: 1;
        // cursor: pointer;
        position: relative;
    }

    &__wishlist {
        position: absolute;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        border: 0;
        padding: 8px;
        font-size: 20px;
        cursor: pointer;
    }

    // &__cart{
    //     border-radius: 20px;
    //     padding: 0.25rem;
    //     // background: #FCD200;
    //     border: 0.5px solid #37475A;

    // }

    &__img {
        object-fit: contain;
    }
    
    // @media (min-width:768px){
    //     &__sorts {
    //         margin-left: auto !important;
    //     }

    //     &__product{
    //         max-width: calc(33.3% - 1rem);
    //     }
    // }
    // @media (min-width: 1024px){
    //     &__product{
    //         max-width: calc(25% - 1rem);
    //     }
    // }
}