@import '../../../assets/base.scss';

.product {
    &__categories {
        position: sticky;
        top: pxToRem(53.5px);
        margin-right: 0;
        background: $white;
        flex-wrap: wrap;
        z-index: 9;
        padding: 8px 16px 12px;

        .product{
            &__sort-by-discount,&__sort-by-price{
                font-size: $font-size-s;
                color: $dark-blue;
            }
            
        }
    }

    &__sorts {
        select {
            font-size: $font-size-s;
            position: relative;
            max-width: pxToRem(120px);
            
            // @media screen and (max-width: 992px) {
             @include media-breakpoint-down(md){
                max-width: pxToRem(80px);
            }

            option {
                max-width: pxToRem(90px);
                font-size: $font-size-xs;
            }
        }
    }

    &__wishlist {
        .ci-heart, .fa-heart {
            font-size: $font-size-xl;
        }
        .ci-heart {
            color: $black;
            &:hover {
                color: $red;
            }
        }
        .fa-heart {
            color: $red;
        }
    }

    &__filtered {
        background: $white;

        .product {
            &__cart{
                border-radius: pxToRem(100px);
                padding: pxToRem(8px);
                border: 1px solid transparent;
                background-color: $dark-blue;
                color: $white;
                margin: 0 16px 16px;

                &.go-to-cart a {
                    color: $white;
                    background-color: transparent;
                }

                &:hover {
                    background-color: transparent;
                    color: $dark-blue;
                    border: 1px solid $dark-blue;
                    transition: all .2s ease-in;

                    &.go-to-cart a {
                        color: $dark-blue;
                    }
                }
            }

            &__sorts{
                margin-left: pxToRem(10px) !important;
            }

            .product__sort-by-discount,.product__sort-by-price,&__discount,&__popularity{
                font-size: $font-size-s;
            }

            &__details {
                gap: 6px;
            }

            &__brand {
                font-size: 20px;
            }
           
            &__discount{
                color: $red;
                font-size: 14px;
            }

            &__desc{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 16px;
            }

            &__price {
                margin-left: 0;
            }

            &__brand,&__price{
                font-weight: 600;
            }

            &__product{
                max-width: 100%;
                overflow: hidden;
                border: 1px solid $gray-300;

                a{
                    color: $black;
                    text-decoration: none;
                }

                &:hover {
                    transition: all .5s ease-in-out;
                    -webkit-box-shadow: 0px 12px 26px -4px $dark-blue;
                    -moz-box-shadow: 0px 12px 26px -4px $dark-blue;
                    box-shadow: 0px 12px 26px -4px $dark-blue;
                }
            }
    
            // @media (min-width:768px){
            @include media-breakpoint-down(sm){

                &__sorts {
                    margin-left: auto !important;
                }
        
                &__product{
                    max-width: calc(33.3% - 1rem);
                }
            }
            @media (min-width: 1024px){
                &__product{
                    max-width: calc(25% - 5rem);
                }
            }
        }
    }
    &__filters {
        padding: 0;
        gap: pxToRem(8px);

        li {
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            padding-right: pxToRem(8px);
            text-transform: capitalize;
            border-bottom: pxToRem(2px) solid transparent;

            // @media screen and (max-width: 768px) {
            @include media-breakpoint-down(sm){
                font-size: $font-size-s;
            }

            &.active {
                color: $shade-blue;
                border-bottom: pxToRem(2px) solid $shade-blue;
            }
            &:hover {
                color: $shade-blue;
                transition: all .2s ease-in-out;
            }
        }
    }

    &__sorts {
        gap: pxToRem(16px);

        span:hover {
            color: $shade-blue;
            transition: all .2s ease-in-out;
            cursor: pointer;
        }
    }

    &__sort-by-price.active,
    &__sort-by-discount.active {
        color: $shade-blue;
        cursor: pointer;
    }

    &__product-list {
        display: flex;
        gap: pxToRem(8px);
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 1rem;
    }
    &__product {
        max-width: pxToRem(250px);
        width: 100%;
        position: relative;
    }

    &__wishlist {
        position: absolute;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        border: 0;
        padding: pxToRem(8px);
        font-size: $font-size-xl;
        cursor: pointer;
    }
    &__img {
        object-fit: contain;
    }
}