@import '../../../assets/base.scss';

.cmp-error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
    margin: auto;

    &__server-error {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__code {
        font-size: pxToRem(50px);
    }

    &__message {
        font-size: $font-size-5xl;
    }

    &__text {
        font-size: $font-size-base;
        text-align: center;
    }

    // @media screen and (max-width: 991px) {
    @include media-breakpoint-down(md){
        &__code {
            font-size: $font-size-5xl;
        }
    
        &__message {
            font-size: $font-size-2xl;
        }
    
        &__text {
            font-size: $font-size-s;
        }
    }
}