.cmp-error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
    margin: auto;

    &__server-error {
        position: relative;
    }

    &__code {
        font-size: 50px;
    }

    &__message {
        font-size: 32px;
    }

    &__text {
        font-size: 16px;
        text-align: center;
    }

    @media screen and (max-width: 991px) {
        &__code {
            font-size: 32px;
        }
    
        &__message {
            font-size: 22px;
        }
    
        &__text {
            font-size: 14px;
        }
    }
}