@import '../../../assets/base.scss';

.cmp-cart-container{
    min-height: 75vh;
    display: flex;
    flex-direction: column;
}
.cmp-cart {
    flex-wrap: wrap;
    padding: 0 32px;
    
    &__item {
        list-style-type: none;
        max-width: 100%;
        width: 100%;

        @media (min-width:768px){
            max-width: 33.3%;
        }

        @media (min-width: 1024px){
            max-width: 25%;
        }

        .card{
            padding-bottom: 10px;
        }
    }

    &__link{
        color: #007185;
        text-decoration: none;
        font-size: 14px;

        &:hover{
            color: red;
            text-decoration: underline;
        }
    }
}