@import '../../../assets/base.scss';

.cmp-cart-container{
    min-height: 75vh;
    display: flex;
    flex-direction: column;
}
.cmp-cart {
    flex-wrap: wrap;
    padding: 0 32px;
    
    &__item {
        list-style-type: none;
        max-width: 100%;
        width: 100%;
        border: 1px solid #e0e0e0;
        background-color: #fff;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;


        @media (min-width:768px){
            max-width: 33.3%;
        }

        @media (min-width: 1024px){
            max-width: 25%;
        }

        .card{
            padding-bottom: 10px;
            border: none;
        }
    }

    &__link{
        color: #007185;
        text-decoration: none;
        font-size: 14px;

        &:hover{
            color: red;
            text-decoration: underline;
        }
    }

    &__empty {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    &__text {
        font-size: 32px;
        text-align: center;
    }
    
    &__buy-now{
        border-radius: 100px;
        padding: 0.25rem;
        border: none;
        background-color: #007185;
        width: 150px;

        a{
            color: #fff;
            text-decoration: none;
        }
    }

    @media screen and (max-width: 991px) {
        &__text {
            font-size: 14px;
        }
    }
}