@import '../../../assets/base.scss';

.imgCmp {
  margin: pxToRem(10px);
  display: inline-block;
  cursor: pointer;
}

.product__img {
  max-width: 100%;
  height: auto;
}

figcaption {
  margin-top: pxToRem(10px);
  font-size: $font-size-xs;
  line-height: pxToRem(18px);
}
