.imgCmp {
  margin: 10px;
  display: inline-block;
  cursor: pointer;
}

.product__img {
  max-width: 100%;
  height: auto;
}

figcaption {
  margin-top: 10px;
  font-size: 12px;
  line-height: 18px;
}
