@import '../../../assets/base.scss';

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #e0e0e0;
  background-color: #fff;
  transition: box-shadow 0.3s ease;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-overflow: ellipsis;

  &__details {
    display: flex;
    flex-direction: column;
  }
 
  img {
    width: 100%;
    max-width: 200px;
    height: auto;
    object-fit: cover;
  }
 
  .product__brand,
  .product__desc,
  .product__discount,
  .product__popularity,
  .product__price{
    max-width: 100%;
    color: $black;
  }

  .product__brand {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
  }
 
  .product__desc {
    font-size: 14px;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
 
  .product__discount {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
  }
 
  .product__popularity {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .product__discount{
    color: $red;
  }
 
  .product__price {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
  }
 
  .product__addToCart{
    border-radius: 100px;
    padding: 0.25rem;
    border: none;
    background-color: #007185;
    color: #fff;
    width: 150px;
  }
  .btn-add-to-cart {
    width: 100%;
    max-width: 150px;
    text-align: center;

  }
  
  .storybook-button {
    a {
      color: $white;
      text-decoration: none;
    }
  }
}