@import '../../../assets/base.scss';

.hero-banner {
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: $dark-blue;
    padding: 18px;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;

    @media screen and (max-width: 768px) {
        flex-wrap: wrap;
    }

    &__content {
        width: 40%;
        margin-left: 60px;
        color: $white;
        position: relative;
        z-index: 2;

        @media screen and (max-width: 768px) {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin-left: 0;
        }
    }

    h2 {
        letter-spacing: 0.8px;
        font-weight: 700;
        font-size: 44px;
        line-height: 1.2;

        @media screen and (max-width: 992px) {
            font-size: 32px;
        }
    }

    p {
        font-size: 1rem;
        line-height: 1.8;
        margin-inline: auto;
        margin-top: 10px;

        @media screen and (max-width: 992px) {
            font-size: 14px;
        }
    }

    &__counter {
        font-weight: 400;
        display: flex;
        align-items: center;
        margin: 2.5em 0 2em 0;
        gap: 2em;
        padding: 0;

        li {
            list-style-type: none;

            h3 {
                gap: pxToRem(4px);
            }
        }

        i {
            margin-right: 10px;
        }

        span {
            display: block;
            text-transform: capitalize;
            font-size: 0.8rem;
            color: $silver;
            margin-top: 3px;
        }
    }

    .btn {
        background-color: $magenta;
        border: none;
        padding: 12px 20px;
        font-size: 16px;
        cursor: pointer;
        display: inline-block;
        border-radius: 4px;
        transition: 0.3s ease-in;

        &:hover {
            background-color: $shade-magenta;
        }

        a {
            color: $white;
            text-decoration: none;
        }
    }

    .circle {
        position: absolute;
        bottom: -5em;
        left: -8em;
        width: clamp(150px, 40vw, 400px);
        height: clamp(150px, 40vw, 400px);
        background: $black;
        border-radius: 50%;
        z-index: 1;
        opacity: 0.7;
    }

    &__carousel {
        position: relative;
        width: 60%;
        padding-left: 50px;
        z-index: 9;

        @media screen and (max-width: 768px) {
            padding-left: 0;
            width: 100%;
        }

        .cmp__slick-carousel {
            width: 100%;

            &__content {
                background: $white;
                text-align: center;
                align-items: center;
                justify-content: center;
                padding: 18px;
                max-width: 226px !important;
                height: 24rem;
                position: relative;
                border-radius: 12px;
                box-shadow: -1px 5px 15px #0000001f;
                text-align: center;
                cursor: pointer;

                @media screen and (max-width: 992px) {
                    max-width: 400px !important;
                }

                &:active {
                    cursor: grabbing;
                }

                .product__img {
                    width: 100%;
                    height: 100%;
                    display: block;
                    object-fit: contain;
                    max-width: 100%;
                }

                .product__brand {
                    font-size: 18px;
                    font-weight: 600;
                    padding-top: 10px;
                }

                .product__desc {
                    font-size: 14px;
                    padding-top: 10px;
                }

            }

            &__img-wrapper {
                width: 100%;
                aspect-ratio: 1/1;
                overflow: hidden;
            }

            .slick-track {
                display: flex;
                gap: 10px;
            }
        }
    }
}