@import '../../../assets/base.scss';

.hero-banner {
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: $dark-blue;
    padding: pxToRem(18px);
    overflow: hidden;
    display: flex;
    justify-content: flex-start;

    @media screen and (max-width: 768px) {
        flex-wrap: wrap;
    }

    &__content {
        width: 40%;
        margin-left: pxToRem(60px);
        color: $white;
        position: relative;
        z-index: 2;

        @media screen and (max-width: 768px) {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin-left: 0;
        }
    }

    h2 {
        @include fontDefinition($font-size-8xl,$font-weight-bold, 1.2);
        letter-spacing: pxToRem(0.8px);

        @media screen and (max-width: 992px) {
            font-size: $font-size-5xl;
        }
    }

    p {
        font-size: 1rem;
        line-height: 1.8;
        margin-inline: auto;
        margin-top: pxToRem(10px);

        @media screen and (max-width: 992px) {
            font-size: $font-size-s;
        }
    }

    &__counter {
        font-weight: 400;
        display: flex;
        align-items: center;
        margin: 2.5em 0 2em 0;
        gap: 2em;
        padding: 0;

        li {
            list-style-type: none;

            h3 {
                gap: pxToRem(4px);
            }
        }

        i {
            margin-right: pxToRem(10px);
        }

        span {
            display: block;
            text-transform: capitalize;
            font-size: 0.8rem;
            color: $silver;
            margin-top: pxToRem(3px);
        }
    }

    .btn {
        background-color: $magenta;
        border: none;
        padding: pxToRem(12px) pxToRem(20px);
        font-size: $font-size-base;
        cursor: pointer;
        display: inline-block;
        border-radius: pxToRem(4px);
        transition: 0.3s ease-in;

        &:hover {
            background-color: $shade-magenta;
        }

        a {
            color: $white;
            text-decoration: none;
        }
    }

    .circle {
        position: absolute;
        bottom: -5em;
        left: -8em;
        width: clamp(150px, 40vw, 400px);
        height: clamp(150px, 40vw, 400px);
        background: $black;
        border-radius: 50%;
        z-index: 1;
        opacity: 0.7;
    }

    &__carousel {
        position: relative;
        width: 60%;
        padding-left: pxToRem(50px);
        z-index: 9;

        @media screen and (max-width: 768px) {
            padding-left: 0;
            width: 100%;
        }

        .cmp__slick-carousel {
            width: 100%;

            &__content {
                background: $white;
                text-align: center;
                align-items: center;
                justify-content: center;
                padding: pxToRem(18px);
                max-width: pxToRem(226px) !important;
                height: 24rem;
                position: relative;
                border-radius: pxToRem(12px);
                box-shadow: -1px 5px 15px #0000001f;
                text-align: center;
                cursor: pointer;

                @media screen and (max-width: 992px) {
                    max-width: pxToRem(400px) !important;
                }

                &:active {
                    cursor: grabbing;
                }

                .product__desc-data {
                    display: flex;
                    flex-direction: column;
                }

                .product__img {
                    width: 100%;
                    height: 100%;
                    display: block;
                    object-fit: contain;
                    max-width: 100%;
                }

                .product__brand {
                    font-size: $font-size-l;
                    font-weight: 600;
                    padding-top: pxToRem(10px);
                }

                .product__desc {
                    font-size: $font-size-s;
                    padding-top: pxToRem(10px);
                }

            }

            &__img-wrapper {
                width: 100%;
                aspect-ratio: 1/1;
                overflow: hidden;
            }

            .slick-track {
                display: flex;
                gap: pxToRem(10px);
            }

            .slick-dots {
                bottom:  pxToRem(-40px);
               
                li {
                    margin: 5px;
                    button {
                        &::before {
                            content: "";
                            width:  pxToRem(20px);
                            height:  pxToRem(6px);
                            background: $white;
                        }
                    }
                }
            }
        }
    }
}