@import '../../../assets/base.scss';

.storybook-button {
  font-family: inherit;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;

  &--primary {
    color: $white;
    background-color: $btn-primary;
  }

  &--secondary {
    color: $gray-600;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
  }

  &--small {
    font-size: 12px;
    padding: pxToRem(10px) pxToRem(16px);
  }

  &--medium {
    font-size: 14px;
    padding: pxToRem(11px) pxToRem(20px);
  }

  &--large {
    font-size: 16px;
    padding: pxToRem(12px) pxToRem(24px);
  }
}