@import '../../../assets/base.scss';

.cmp__slick-carousel {
    position: relative;
    margin-bottom: pxToRem(28px);
    width: 95vw;
    padding: 16px;

    button.slick-arrow {
        color: $black;
        background: transparent;
        position: absolute;
        width: 10%;
        height: 100%;
        opacity: .5;
        z-index: 1;
        display: block;

        &:hover {
            opacity: 1;
        }

        &:hover::before {
            color: $black;
        }
        
        &::before {
            position: relative;
            font-size: 32px;
            color: $black;
        }

        &.slick-next {
            right: pxToRem(6px);
            display: flex !important;
            align-items: center;

            &::before {
                // left: pxToRem(40px);

                content: "";
                display: block;
                width: pxToRem(12px);
                height: pxToRem(18px);
                background-image: url('../../../assets/images/carousel-next.svg');
                background-size: cover;
                position: absolute;
                right: 0;
            }
        }

        &.slick-prev {
            left: pxToRem(6px);

            &::before {
                // right: pxToRem(40px);

                content: "";
                display: block;
                width: pxToRem(12px);
                height: pxToRem(18px);
                background-image: url('../../../assets/images/carousel-prev.svg');
                background-size: cover;
            }
        }
    }

    &__content {
        
        * {
            margin-bottom: 0;
        }

        .product__img {
            max-width: 40px;
            width: 100%;
        }
    }
}