@import '../../../assets/base.scss';

.cmp-home {
    .home-category {
        margin: pxToRem(16px);
        padding: pxToRem(16px);
        overflow: hidden;

        &--shirts-carousel,
        &--shoes-carousel {
            background: $white;
        }

        &__title {
            font-size: pxToRem(21px);
            margin-bottom: 0;
        }

        &__btn {
            a {
                text-decoration: none;
            }
        }

        .cmp__slick-carousel {
            width: 100%;
        }

        .cmp__slick-carousel {

            .slick-track {
                display: flex;
                gap: pxToRem(8px);
    
                .slick-slide {
                    position: relative;
                    max-width: pxToRem(240px);
                    width: 100%;
                    border-radius: pxToRem(10px);
                    overflow: hidden;
                }
            }

            button.slick-arrow {
                width: 4%;
                height: 40%;
                background: $white;
                display: flex !important;
                align-items: center;
                justify-content: center;

                // @media screen and (max-width: 768px) {
                @include media-breakpoint-down(sm){
                    width: 40px;
                }

                &.slick-prev {
                    left: 0;
                    border-bottom-right-radius: 8px;
                    border-top-right-radius: 8px;
                }
                &.slick-next {
                    right: 0;
                    border-bottom-left-radius: 8px;
                    border-top-left-radius: 8px;
                }
            }

            &__img-wrapper {
                overflow: hidden;
                height: 100%;
                width: 100%;
                
                .product__img {
                    display: block;
                    height: 100%;
                    max-width: 100%;
                    object-fit: contain;
                }
            }

            .product__desc-data {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: pxToRem(8px);
                position: absolute;
                bottom: 0;
                width: 100%;
                padding: pxToRem(16px);
                text-overflow: ellipsis;
                white-space: nowrap;

                &::before {
                    content: "";
                    position: absolute;
                    bottom: pxToRem(-6px);
                    display: block;
                    width: 100%;
                    height: 100%;
                    background: $gray-500;
                    z-index: 1;
                    filter: blur(8px);
                    -webkit-filter: blur(8px);
                }

                & * {
                    color: $white;
                    z-index: 2;
                }
            }

            .product__brand {
                font-size: $font-size-base;
            }

            .product__desc {
                font-size: $font-size-base;
            }

            .product__discount,
            .product__popularity,
            .product__price {
                display: none;
            }
        }

    }
}