@import '../../../assets/base.scss';

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    z-index: 999;

    &:after, &:before {
        position: absolute;
        content: "";
        width: pxToRem(25px);
        height: pxToRem(25px);
        border-radius: 50%;
    }
    
    &:after {
        animation: loader-move2 0.5s ease-in-out infinite;
        animation-direction: alternate;
        background-color: $shade-yellow;
    }
    
    &:before {
        animation: loader-move1 0.5s ease-in-out infinite;
        animation-direction: alternate;
        background-color: $black;
    }
}

@keyframes loader-move1 {
    0% {
        transform: translatex(0px);
    } 
    65% {
        width: pxToRem(25px);
        height: pxToRem(25px);
    }
    100% {
        transform: translatex(-15px);
    }
}

@keyframes loader-move2 {
    0% {
        transform: translatex(0px);
    } 
    65% {
        width: pxToRem(25px);
        height: pxToRem(25px);
    }
    100% {
        transform: translatex(15px);
    }
}
