$font-size-base-px: 16px;

$white: #fff;
$gray-100: #eee;
$gray-200: #ddd;
$gray-300: #c9c9cc;
$gray-400: #a1a1a4;
$gray-500: #888;
$gray-600: #333;
$gray-700: #acacac;
$gray-800: #E9ECEF;
$gray-900: #343A40;
$black: #000;
$black-100: #212529;

$red: #ed1c24;
$dark-red: #d01219;
$faded-red: #DC3545;
$shadow-red: #842029;
$pale-pink: #F8D7DA;
$quill-grey: #CED4DA;
$light-grey: #adb5bd;
$white-desert: #f8f9fa;
$bright-blue: #0D6EFD;
$yellow: #ffc418;
$orange: #f68c1f;
$light-green: #a3cf62;
$green: #00a85f;
$green-500: #198754;
$light-blue: #53b7e8;
$blue-100: #578fe2;
$blue: #0D6EFD;
$dark-blue: #043776;
$carbon: #707073;
$dark-gray: #6C757D;
$dark-bleached: #212529;
$dark-slate-gray: #161616;
$charcoal-gray: #495057;
$grayish-blue: #ADB5BD;
$shade-yellow: #FFC107;
$vivid-cyan: #0DCAF0;
$light-pink: #F1AEB5;
$pale-yellow: #FFE69C;
$seafoam-green: #A3CFBB;
$navy-blue: #084298;
$light-sky-blue: #E7F1FF;
$golden-yellow: #FFCD39;
$hunter-green: #0F5132;
$golden-brown: #997404;
$maroon: #B02A37;
$border-brown: #706b6b;

$dark-shade-gray: #131921;
$dark-blue-gray: #131A22;
$dark-purple: #100034;
$silver: #c1c1c1;
$magenta: #d51a6d;
$shade-magenta: #ae0a53;
$btn-primary: #1ea7fd;
$shade-blue: #2A55E5;
$pale-cloud: #E3E6E6;

//fonts
$font-size-base: 1rem; //(16px)
$font-size-xs: $font-size-base * 0.75; //(12px)
$font-size-s: $font-size-base * 0.875; //(14px)
$font-size-m: $font-size-base * 1; //(16px)
$font-size-l: $font-size-base * 1.125; //(18px)
$font-size-xl: $font-size-base * 1.25; //(20px)
$font-size-2xl: $font-size-base * 1.375; //(22px)
$font-size-3xl: $font-size-base * 1.5; //(24px)
$font-size-4xl: $font-size-base * 1.75; //(28px)
$font-size-5xl: $font-size-base * 2; //(32px)
$font-size-6xl: $font-size-base * 2.25; //(36px)
$font-size-7xl: $font-size-base * 2.5; //(40px)
$font-size-8xl: $font-size-base * 2.75; //(44px)
$font-size-9xl: $font-size-base * 3; //(48px)
$font-size-10xl: $font-size-base * 3.5; //(56px)

//font weight
$font-weight-light : 300;
$font-weight-regular : 400;
$font-weight-semi-bold : 600;
$font-weight-bold : 700;