@import '../../../assets/base.scss';

.footer {
    position: relative;
    width: 100%;
    padding: pxToRem(10px) 0 pxToRem(30px);
    display: flex;
    justify-content: center;
    font-size: $font-size-xs;
    background-color: $dark-blue-gray;
    color: $gray-200;
    z-index: 99;
    margin-top: auto;
    // @media screen and (max-width: 991px){
    @include media-breakpoint-down(md){
        font-size: $font-size-base * 0.625;
    }

    &__section {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: pxToRem(4px);

        &__span {
            padding: 0 pxToRem(12px);

            a {
                color: $gray-200;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}