.quantity-counter {
  display: flex;
  border-radius: 8px;
  max-width: 200px;

  button {
    border-radius: 50%;
    border: 1px solid gray;
    border: none;
    padding: 10px;
    font-size: large;

    &:first-child {
      border-right: 1px solid gray;
    }

    &:last-child {
      border-left: 1px solid #ccc;
      border-radius: 50%;
    }

    &:disabled {
      background-color: green;
      color: #aaa;
    }
  }

  span {
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px;
    border-radius: 2px;
  }
}
