@import '../../../assets/base.scss';

.quantity-counter {
  display: flex;

  &__input {
    width: pxToRem(50px);
    border: 1px solid $black;
    line-height: 30px;
    font-size: $font-size-xl;
    text-align: center;
    background: $gray-100;
    color: $black;
    appearance: none;
    outline: 0;
  }

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $font-size-base;
    padding: 0 10px;
    cursor: pointer;
    color: $black;
    user-select: none;
  }
}
