@import '../../../assets/base.scss';

.product-details {

  &__container {
    padding: pxToRem(16px);
    display: flex;
    flex-wrap: wrap;
    background-color: $white;
    width: 100%;
  }

  &__wrapper {
    display: flex;
    gap: pxToRem(40px);

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }
  
  &__back-btn {
    display: flex;
    align-items: center;
    width: pxToRem(55px);
    text-decoration: none;
    color: $black;
    margin-bottom: pxToRem(16px);

    &:hover {
      color: $blue;
    }
  }
}

.product-image {
  display: block;
  max-width: pxToRem(500px);
  width: 100%;
  aspect-ratio: 3/4;
  overflow: hidden;

  .imgCmp {
    margin: 0;
    width: 100%;
  }

  img {
    object-fit: contain;
    width: 100%;
  }
}

.product {
  &__mrp-wrapper {
    font-size: 14px;
    margin-top: pxToRem(8px);
    color: $gray-500;
  }

  &__mrp {
    text-decoration: line-through;
  }

  &__discount {
    font-size: 18px;
    color: $red;
  }

  &__price {
    font-size: 24px;
    margin-left: pxToRem(8px);
    font-weight: 500;
  }

  &__details {
    margin-top: pxToRem(16px);
  }

  &__details-title {
    font-size: 18px;
    font-weight: 600;
  }

  &__details-heading {
    font-weight: 600;
  }
}

.product-info {
  flex: 1;

  .cart-button {
    a {
      text-decoration: none;
      color: $white;
    }
  }
}

.product-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: pxToRem(10px);
}

.product-description {
  font-size: 18px;
  margin-bottom: pxToRem(8px);
}

.quantity-counter {
  margin-bottom: pxToRem(20px);
}

.wishlist-button,
.cart-button {
  padding: pxToRem(10px) pxToRem(20px);
  font-size: 16px;
  cursor: pointer;
}

.wishlist-button {
  color: $golden-yellow;
  border: none;
}

.cart-button {
  background-color: $golden-yellow;
  color: $black;
  border: none;
  margin: pxToRem(5px);
}

@media (max-width: 768px) {
  .product-image,
  .product-info {
    max-width: 100%;
  }
}
