@import '../../../assets/base.scss';

.cmp-wishlist-container{
    min-height: 75vh;
    display: flex;
    flex-direction: column;
}

.cmp-wishlist {
    flex-wrap: wrap;
    padding: 0 32px; 
    
    &__item {
        list-style-type: none;
        max-width: 100%;
        width: 100%;
        background: white;
        border-radius: pxToRem(8px);
        border: 1px solid #e0e0e0;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;

        @media (min-width:768px){
            max-width: 33.3%;
        }

        @media (min-width: 1024px){
            max-width: 25%;
        }

        .card{
            padding-bottom: 20px;
            border: none;

            a{
                text-decoration: none;
            }
        }
    }

    &__link{
        color: #007185;
        text-decoration: none;
        font-size: $font-size-s;

        &:hover{
            color: red;
            text-decoration: underline;
        }
    }

    &__cart{
        border-radius: pxToRem(100px);
        padding: 0.25rem;
        border: none;
        background-color: #007185;
        color: #fff;
        width: pxToRem(150px);
    }


    &__empty {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    &__text {
        font-size: $font-size-5xl;
        text-align: center;
    }

    @media screen and (max-width: 991px) {
        &__text {
            font-size: $font-size-s;
        }
    }
}